*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Montserrat", sans-serif;
    background: #023047;
    color: #eee;
}
.titel{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #eee;
    margin: 16px;

}
.htm-converter{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Roboto",sans-serif;
}
.htm-converter .input-text{
    height: 350px;
    width: 900px;
    padding: 20px;
    font-family: "Robote",sans-serif;
    font-size: 18px;
    list-style: 1.7;


}
.htm-converter .input-text{
    resize: none;
}
.reult{
    height: 350px;
    width: 900px;
    padding: 20px;
    font-family: "Robote",sans-serif;
    font-size: 18px;
    list-style: 1.7;
    overflow-y: scroll;

}
.list-copy{
    

}
.return-btn,.saved-btn,.deletd-btn,.copyy-btn{
    height: 30px;
    width: 30px;
    position: relative;
    left: 750px;
    cursor: pointer

}

h2{
    font-size: 15px;
    position: relative;
    top: 30px;
}
h3{
    font-size: 15px;
}
.btn64{
    justify-content: center;
}
.btn64 .one{
    color: #fff;
    padding: 20px 80px;
    background: green;
    position: relative;
    left: 150px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn64 :active{
    top: 3px;
}
.tow{
    color: #000;
    padding: 20px 60px;
    position: relative;
    left: 150px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;

}
.there{
    color: #000;
    padding: 20px 60px;
    position: relative;
    left: 150px;
    font-size: 20px; 
    border-radius: 20px;
    cursor: pointer;

}
.input-text-2{
    height: 350px;
    width: 900px;
    padding: 20px;
    font-family: "Robote",sans-serif;
    font-size: 18px;
    list-style: 1.7;
    resize: none;
}
.copy-btn{
    height: 30px;
    width: 30px;
    position: relative;
    left: 860px;
    cursor: pointer;
}
.fore,.five{
    color: #000;
    padding: 15px 60px;
    position: relative;
    left: 350px; 
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px;
}
.fore,.five :active{
    top: 2px;
}
